# Ignore model weights and large data
adapters/
qwen25-1p5b-india-merged/
data/

# Ignore Python cache & venvs
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual envs
.venv/
env/
venv/
india_ft/
